<h1>Coordinates Lookup</h1>

<!-- <h2>User entered <%= params[:user_address] %></h2> -->
<!-- <%= @address = params[:user_address] %> -->

<dl>
  <dt>Address:</dt>
  <dd><%= @address %></dd>

  <dt>URL Safe Address:</dt>
  <dd><%= @url_safe_address %></dd>

  <dt>Latitude:</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @longitude %></dd>
</dl>

<form>
Address: <input type="text" name="user_address">
<input type="submit">
</form>
